.Schedule {
  display: inline-block;

  .table {
    tbody {
      tr {
        td {
          padding-right: 2rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
        }
      }
    }
    thead {
      tr {
        th {
          padding-right: 2rem;
          padding-top: 1rem;
          padding-bottom: 1rem;
          // text-align: left;
        }
      }
    }
  }

}