.scheduling-dashboard {
  padding: 2rem;

  .header {
    font-size: x-large;
    padding-bottom: 1rem;
    
  }
  
  .calendar {
    float: right;
    padding-right: 3rem;
    width: 350px;

    .react-calendar {
      border-radius: 0.5rem;
      background-color: honeydew;
    }

    .hint {
      font-size: small;
      font-weight: 400;
      color: gray;
    }
  }
}